.form {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form>h2 {
    font-size: 2.5rem;
}

.form>span {
    display: flex;
    gap: 10px;
}